@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    background: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.max-width {
    max-width: 960px;
    margin: auto;
}

h2 {
    font-weight: 700;
    text-align: center;
    font-size: 2em;
    color: #444649;
    margin-top: 40px;
    margin-bottom: 40px;
}

h2:after {
    background: none repeat scroll 0 0 #0099ff;
    bottom: -5px;
    content: "";
    display: block;
    height: 5px;
    position: center;
    width: 50px;
    margin-left: 48%;
    margin-right: 52%;
    margin-top: 5px;
}

/* --- NAVBAR -- */

a {
    /* color: white; */
}

header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 100px;
    width: 100%;
    box-sizing: border-box;
    background: transparent;
}

header nav {
    float: right;
    margin-top: 20px;
}

header nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    list-style: none;
    position: relative;
    padding-right: 20px;
}

header nav ul li ul {
    position: absolute;
    left: 0;
    background: #333;
    display: none
}

header nav ul li.active ul {
    /* use li: hover instead */
    display: block;
}

header nav ul li ul li {
    display: block;
    width: 200px;
}

header nav ul li a {
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    color: #fff;
    text-decoration: none;
    display: block;
}

header nav ul li a:hover {
    color: #fff;
    background: #2196f3;
}

header nav ul li a.active {
    background: #2196f3;
}

.menu-toggle {
    color: #2196f3;
    float: right;
    line-height: 50px;
    font-size: 35px;
    cursor: pointer;
    display: none;
}

@media (max-width: 860px) {
    header {
        padding: 0 20px;
    }

    .menu-toggle {
        display: block;
        position: fixed;
    }

    header nav {
        /* use display none or left:-100% to hide the nav  */
        /* display: none; */
        position: fixed;
        top: 50px;
        left: -100%;
        width: 100%;
        height: calc(100vh - 50px);
        background: #333;
        transition: 0.5s;
    }

    header nav.active {
        left: 0;
    }

    header nav ul {
        display: block;
        text-align: center;
    }

    header nav ul li.active ul {
        position: relative;
        background: #003e6f;
    }

    header nav ul li ul li {
        width: 100%;
    }

    header nav ul li {
        padding-right: 0px;
    }
    h2:after {
        margin-left: 47%;
        margin-right: 53%%;
    }


}

@media (min-width: 760px) {

    /* ---- NAVBAR ---- */
    /* ----- ABOUT ----- */
    .about {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .container {
        position: absolute;
    }

    /*----- SKILLBAR ----- */
    .skills {
        max-width: 960px;
        margin: 0 auto;
    }
}

/* ----- LANDING -----*/
.landing {
    background-image: url("../img/landing.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

.landing-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-right: 1rem;
    padding-left: 1rem;
}

.landing-text-inner {
    max-width: 960px;
}

.btn {
    padding: 0.5rem 2rem;
    border: 1px #FFFFFF solid;
    background: transparent;
    display: inline-block;
    margin: 3rem 0 0;
    border-radius: 50px;
    text-decoration: none;
    color: #333;
    color: #FFF;
    transition: all 0.3s ease 0s;
}

h1 {
    font-size: 5vh;
    color: #FFFFFF;
}

.btn:hover {
    background: #0099ff;
    color: #FFFFFF;
    border: 1px #0099ff solid;
}

/* ----- ABOUT ----- */

.about p {
    margin: 50px 50px 50px 50px;
    text-align: center;
    line-height: 1.6;
}

/* ----- SKILLBAR ------ */
.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bar {
    max-width: 90%;
    position: relative;
    align-items: flex-end;
    background-color: #eee;
    height: 28px;
    margin: 0 auto 15px auto;
    font-size: 11pt;
}

.bar .fill {
    top: 0;
    left: 0;
    position: absolute;
    background-color: #0099ff;
    padding: 0;
    opacity: 1;
}

.tag {
    width: 110px;
    top: 0;
    left: 0;
    position: absolute;
    background-color: #575766;
    color: #fff;
    height: 100%;
}

.tag p {
    font-size:;
}



span {
    display: initial;
    padding: 0 15px 0 0;
}

/* ---- portfolio ---- */






/* ----- BACK TO TOP ----- */

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 0px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}