@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    background: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.max-width {
    max-width: 960px;
    margin: auto;
}

h2 {
    font-weight: 700;
    text-align: center;
    font-size: 2em;
    color: #444649;
    margin-top: 40px;
    margin-bottom: 40px;
}

h3 {
    font-weight: 700;
    font-size: 1.4em;
    color: #444649;
    margin: 20px 0 20px 0;
    text-align: left;
}

h2:after {
    background: none repeat scroll 0 0 #0099ff;
    bottom: -5px;
    content: "";
    display: block;
    height: 5px;
    position: center;
    width: 50px;
    margin-left: 48%;
    margin-right: 52%;
    margin-top: 5px;
    margin-bottom: 50px;
}

/* --- NAVBAR -- */

a {
    /* color: white; */
}

header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 100px;
    width: 100%;
    box-sizing: border-box;
    background: transparent;
}

header nav {
    float: right;
    margin-top: 20px;
}

header nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    list-style: none;
    position: relative;
    padding-right: 20px;
}

header nav ul li ul {
    position: absolute;
    left: 0;
    background: #333;
    display: none
}

header nav ul li.active ul {
    /* use li: hover instead */
    display: block;
}

header nav ul li ul li {
    display: block;
    width: 200px;
}

header nav ul li a {
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    color: #fff;
    text-decoration: none;
    display: block;
}

header nav ul li a:hover {
    color: #fff;
    background: #2196f3;
    transition: all 0.5s ease 0s;
}

header nav ul li a.active {
    background: #2196f3;
}

.menu-toggle {
    color: #2196f3;
    float: right;
    line-height: 50px;
    font-size: 35px;
    cursor: pointer;
    display: none;
}

@media (max-width: 860px) {
    header {
        padding: 0 20px;
    }

    .menu-toggle {
        display: block;
        position: fixed;
    }

    header nav {
        /* use display none or left:-100% to hide the nav  */
        /* display: none; */
        position: fixed;
        top: 50px;
        left: -100%;
        width: 100%;
        height: calc(100vh - 50px);
        background: #333;
        transition: 0.5s;
        z-index: 3;
    }

    header nav.active {
        left: 0;
    }

    header nav ul {
        display: block;
        text-align: center;
    }

    header nav ul li.active ul {
        position: relative;
        background: #003e6f;
    }

    header nav ul li ul li {
        width: 100%;
    }

    header nav ul li {
        padding-right: 0px;
    }
    h2:after {
        margin-left: 47%;
        margin-right: 53%%;
    }


}

@media (min-width: 760px) {

    /* ----- ABOUT ----- */
    .about {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .container {
        position: absolute;
    }

    /*----- SKILLBAR ----- */
    .skills {
        max-width: 960px;
        margin: 0 auto;
    }
}

/* ----- LANDING -----*/
.landing {
    background-image: url("../img/landing.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin-bottom: 150px;
}

.landing-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-right: 1rem;
    padding-left: 1rem;
}

.landing-text-inner {
    max-width: 960px;
}

.btn {
    padding: 0.5rem 2rem;
    border: 1px #FFFFFF solid;
    background: transparent;
    display: inline-block;
    margin: 3rem 0 0;
    border-radius: 50px;
    text-decoration: none;
    color: #333;
    color: #FFF;
    transition: all 0.3s ease 0s;
}

h1 {
    font-size: 5vh;
    color: #FFFFFF;
}

.btn:hover {
    background: #0099ff;
    color: #FFFFFF;
    border: 1px #0099ff solid;
}

/* ----- ABOUT ----- */

.about p {
    margin: 0 50px 50px 50px;
    text-align: center;
    line-height: 1.6;
}

.about {
    margin-bottom: 150px;
}

/* ----- SKILLBAR ------ */
.skills {
    margin-bottom: 200px;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bar {
    max-width: 100%;
    position: relative;
    align-items: flex-end;
    background-color: #eee;
    height: 28px;
    margin: 0 auto 15px auto;
    font-size: 11pt;
}

.bar .fill {
    top: 0;
    left: 0;
    position: absolute;
    background-color: #0099ff;
    padding: 0;
    opacity: 1;
}

.tag {
    width: 110px;
    top: 0;
    left: 0;
    position: absolute;
    background-color: #575766;
    color: #fff;
    height: 100%;
}

.tag p {
    font-size:;
}

.width {
    z-index: 1;
}

.skillBars {
    margin: 0 50px 0 50px;
}

.graphic h3 {
    text-align: right;
}
.graphic {
    padding-top: 20px;
    margin-bottom: 50px;
}




span {
    display: initial;
    padding: 0 15px 0 0;
}


/* ---- portfolio ---- */
#portfolio {
    margin-bottom: 200px;
}

.masthead {
    background-color: #005b75;
}

.masthead p, .masthead p a {
    color: white;
}

.site-title {
    color: white;
}

img {
    display: block;
    border: 0;
    width: 100%;
    height: auto;
}


.card {
    background: #eeeeee;
    margin-bottom: 2em;
}

.card a {
    color: black;
    text-decoration: none;
}

.card:hover {
    box-shadow: 3px 3px 8px hsl(0, 0%, 80%);
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.4em;
}

.card-content h3 {
    margin-top: 0;
    margin-bottom: .5em;
    font-weight: bold;
    text-align: center;
}

.card-content p {
    font-size: 80%;
}

.main-area {
    max-width: 960px;
    margin: 0 auto;
}

/* Flexbox stuff */

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 50px 0 50px;
}

.card {
    flex: 0 1 calc(25% - 1em);
}

#portfolio {
    max-width: 960px;
    margin: 0 auto;
}




/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

    }

    .card {
        flex: 0 1 calc(50% - 1em);
    }

}



/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .card {
        flex: 0 1 calc(50% - 1em);
    }

}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

    .cards {
        display: flex;
        flex-direction: column;
    }

    .card {
        flex: 0 1 100%);
    }

}



/* ----- BACK TO TOP ----- */

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 0px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}