@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    background: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.max-width {
    max-width: 960px;
    margin: auto;
}

h2 {
    font-weight: 700;
    text-align: center;
    font-size: 2em;
    color: #444649;
    padding-top: 40px;
}
h2:after {
    background: none repeat scroll 0 0 #0099ff;
    bottom: -5px;
    content: "";
    display: block;
    height: 5px;
    position: center;
    width: 50px;
    margin-left: 47%;
    margin-right: 53%;
    margin-top: 5px;
}




/* --- NAVBAR -- */

.container {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
}

header {

    color: #FFFFFF;
    padding: 1em 1em;
    margin: auto;
}

header::after {
    content: '';
    clear: both;
    display: block;
}

.site-nav {
    position: absolute;
    top: 100%;
    right: 0%;
    background: #464655;
    clip-path: circle(0px at top right);
    transition: clip-path ease-in-out 700ms;
    /*   display: none; */
}

.site-nav--open {
    clip-path: circle(250% at top right);
    /*   display: block; */
}

.site-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

}
.site-nav li {
    border-bottom: 1px solid #575766;
}

.site-nav li:last-child {
    border-bottom: none;
}

.site-nav a {
    color: #FFFFFF;
    display: block;
    padding: 2em 4em 2em 1.5em;
    text-transform: uppercase;
    text-decoration: none;
}

.site-nav a:hover,
.site-nav a:focus {
    background: #464655;
    color: #0099ff;
}

.menu-toggle {
    padding: 1em;
    position: absolute;
    top: .5em;
    right: .5em;
    cursor: pointer;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    content: '';
    display: block;
    background: #0099ff;
    height: 3px;
    width: 1.75em;
    border-radius: 3px;
    transition: all ease-in-out 500ms;
}

.hamburger::before {
    transform: translateY(-6px);
}

.hamburger::after {
    transform: translateY(3px);
}

.open .hamburger {
    transform: rotate(45deg);
}

.open .hamburger::before {
    opacity: 0;
}

.open .hamburger::after {
    transform: translateY(-3px) rotate(-90deg);
}

@media (min-width: 760px) {

    /* ---- NAVBAR ---- */

    .site-nav {
        max-width: 960px;
        display: flex;
        justify-content: center;
    }

    .menu-toggle {
        display: none;
    }

    .site-nav {

        background: transparent;
        clip-path: initial;
    }

    .site-nav ul {
        display: flex;
    }

    .site-nav a:hover,
    .site-nav a:focus {
        color: #0099ff;
        background-color: transparent;
    }
    /* ----- ABOUT ----- */

    .about {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .container {
        position: absolute;
    }
}




/* ----- LANDING -----*/
.landing {
    background-image: url("../img/landing.png");
    background-size: cover;
    height: 100vh;
    margin-top: -30px;
    background-attachment: fixed;
}

.landing-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-right: 1rem;
    padding-left: 1rem;
}

.landing-text-inner {
    max-width: 960px;
}

.btn {
    padding: 0.5rem 2rem;
    border: 1px #FFFFFF solid;
    background: transparent;
    display: inline-block;
    margin: 2rem 0 0;
    border-radius: 50px;
    text-decoration: none;
    color: #333;
    color: #FFF;
    transition: all 0.3s ease 0s;
}

h1 {
    font-size: 5vh;
    color: #FFFFFF;
}

.btn:hover {
    background: #0099ff;
    color: #FFFFFF;
    border: 1px #0099ff solid;
}

/* ----- ABOUT ----- */

.about p {
    margin: 50px 50px 0 50px;
    text-align: center;
    line-height: 1.6;
}

